<nb-layout>
  <nb-layout-header fixed>Hackathon 2018</nb-layout-header>

  <nb-sidebar>
    <nb-card>
      <nb-card-header style="position: relative">
        <nb-badge text="Teams" status="danger" position="top"></nb-badge>
      </nb-card-header>
      <nb-card-body>

        <nb-menu [items]="items">
        </nb-menu>

      </nb-card-body>
    </nb-card>
  </nb-sidebar>

  <nb-layout-header subheader>
    <nb-actions>
      <nb-action icon="fa fa-user"></nb-action>
      <nb-action icon="fa fa-user"></nb-action>
      <nb-action icon="fa fa-user"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer>v.1.0.0 by&nbsp;<a href="https://github.com/slam24">slam24</a></nb-layout-footer>
</nb-layout>
