<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Repositories
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 col-md-4" *ngFor="let repo of repositories">
              <div class="card border-primary">
                <div class="card-header">
                  <strong>{{ repo.node.name }}</strong>&nbsp;-&nbsp;Updated&nbsp; {{ repo.node.updatedAt | timeAgo }}&nbsp;<a style="cursor: pointer; color: #00a030" (click)="getGrahp(repo.node.name)">get Commits</a>
                </div>
                <div class="card-body">
                  {{ repo.node.description }}
                </div>
                <div class="card-body">
                  <span [style.background-color]="lang.node.color" [style.margin-right]="'5px'" class="badge badge-pill" *ngFor="let lang of repo.node.languages.edges">{{ lang.node.name }}</span>
                </div>
              </div>
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row" *ngIf="graph">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Commits
        </div>
        <div class="card-body">
          <div class="row">
            <div id="chart"></div>
          </div>
          <div class="row" *ngIf="columns.length == 1">
            <div class="col-md-4 col-xs-4 text-center" style="padding-top: 5px;">
              <button style="margin-left: 5px;" class="btn btn-primary" (click)="previous(repo)">Previous</button>
              <button style="margin-left: 5px;" class="btn btn-primary" (click)="next(repo)">Next</button>
            </div>
          </div>
          <div class="row" *ngIf="columns.length > 1">
            <div class="col-md-4 col-xs-4 text-center" style="padding-top: 5px;">
              <button style="margin-left: 5px;" class="btn btn-primary" (click)="clear()">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Members
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <th class="text-center">Name</th>
                <th>Bio</th>
                <th class="text-center">Create at</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of members">
                <td class="text-center">
                  <div class="avatar">
                    <img src="{{ member.node.avatarUrl }}" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div><a href="{{ member.node.url }}" style="color: black">{{ member.node.login }}</a></div>
                  <div class="small text-muted">
                    <span>{{ member.node.email }}</span>
                  </div>
                </td>
                <td class="text-center">
                  {{ member.node.name }}
                </td>
                <td>
                  {{ member.node.bio }}
                </td>
                <td class="text-center">
                  {{ member.node.createdAt | timeAgo }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
